@font-face {
  font-family: "SF-Pro";
  src: url("/fonts/SF-Pro.ttf");
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: black;
  overflow-x: hidden;
}

body {
    font-family: "SF-Pro", sans-serif;
    overflow-x: hidden;
}

.logos-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {

/* HEADER + NAV */

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

img#header-logo {
  height: 48px;
  border-radius: .375rem;
  margin-left: 3rem;
}

img#burger-menu-btn {
  height: 35px;
  margin-right: 3rem;
  cursor: pointer;
  border-radius: 7px;
}

img#burger-menu-btn:hover {
  background-color: rgba(128, 128, 128, 0.305);
}

nav ul {
  display: none;
}

#burger-menu-btn-open {
  height: 19px;
  margin-right: 3rem;
  border-radius: 7px;
  padding: 8px;
  cursor: pointer;
}

img#burger-menu-btn-open:hover {
  background-color: rgba(128, 128, 128, 0.305);
}

nav ul.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  background: white;
  padding: 20px 0 20px 0;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100px;
}

nav ul.active li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-left: solid 2px transparent;
}

nav ul.active li a{
    color: #525252;
    width: 100%;
}

nav ul.active li:hover {
  background-color: #FAFAFA;
  border-left: solid 2px rgb(161, 161, 161);
}

nav ul.active li a:hover {
  color: #171717;
}

/* HOME PAGE  */

h1 {
  color: #171717;
  font-weight: 1000;
}

h2 {
  color: #525252;
  font-weight: 500;
  width: 170%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 6rem;
}

div.main-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 6rem;
  gap: 2rem;
}

div.main-cta-btn {
  background-color: #ef4444;
  padding: 13px 15px;
  border-radius: .375rem;
  transition: all ease-in-out 200ms;
  margin: 50px 0;
}

div.main-cta-btn a {
  color: white;
  font-weight: 600;
}

div.main-cta-btn:hover {
  background-color: #ee2e2e;
  cursor: pointer;
}

/* LOGOS SECTION  */

.logos {
  padding: 32px 16px;
}

.logos-grid {
  display: grid;
  gap: 24px; 
  grid-template-columns: repeat(2, 1fr); 
}

.logo-card {
  display: grid;
  place-items: center;         
  height: 120px;              
  background: transparent;     
  border-radius: 12px;         
}

.logo-card img {
  height: 4rem;
  max-width: 10rem;
}

/* INFOS SECTION  */

section.info-section {
  background-image: url("/background.avif");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  background-color: rgb(23 23 23);
  position: relative;
  padding-bottom: 3rem;
}

.purple-blur {
  position: absolute;
  width: 300px;
  height: 300px;
  filter: blur(100px);
  background: radial-gradient(circle,
    rgba(155,0,255,0.35) 0%,
    rgba(155,0,255,0.25) 30%,
    rgba(155,0,255,0.10) 55%,
    rgba(155,0,255,0.00) 75%
  );
  z-index: 0;
}

div.purple-blur.first{
  right: -150px;
  top: 300px;
}

div.purple-blur.second {
  top: 280px;
  left: -150px;
}

div.purple-blur.third {
  top: 0;
  right: -150px;
}

section.info-section h3 {
  color: white;
  font-size: 50px;
}

section.info-section h4 {
  color: #d4d4d4;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  width: 100%;
}

div.info-section-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
  width: 95%;
  margin-top: 100px;
  gap: 20px;
}

section.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 3rem 0 3rem 0;
}

div.card {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1.5rem;
  border-radius: .75rem;
  box-sizing: border-box;
  word-wrap: break-word;
  border: solid rgb(75, 75, 75) 0.2px;
}

div.card h4 {
  color: white;
  font-weight: 600;
  font-size: 17px;
  margin-left: -15px;
}

div.card p {
  color: #d4d4d4;
  margin-left: 10px;
}

/* COMMENT SECTION */

section.comment-section {
  height: 100%;
  margin: 1.25rem;
  width: 92%;
}

svg.star {
  height: 1.25rem;
  width: 1.25rem;
  fill: #dc2626;
}

div.star-container{
  display: flex;
  gap: 7px;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

div.comment p {
  font-weight: 600;
  font-size: 18px;
  color: #171717;
  line-height: 40px;
}

div.comment p.comment-author {
  font-size: 16px;
  font-weight: 500;
  margin-top: 2rem;
}

div.comment p.comment-author-job {
  font-size: 16px;
  font-weight: 400;
  color: #6b6b6b;
}

/* CASE STUDIES SECTION  */

section.case-studies-section {
  height: 100%;
  padding: 0 2rem 3rem 2rem;
  background-color: #f5f5f5;
}


section.case-studies-section h2 {
  color: #171717;
  font-weight: 800;
  font-size: 30px;
  margin: 3rem 0 2rem 0 ;

}

div.case-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #e5e5e5;
  border-radius: 1rem;
  padding: 1.25rem;
  box-sizing: border-box;
  background-color: #fafafa;
  transition: all ease-in-out 200ms;
}

div.case-card:hover {
  border: 2px solid #c5c5c5;
}

div.case-cards-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

div.header-case-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}


div.header-case-card img {
  height: 75px;
}

div.header-case-card img#taxi-verts {
  width: 70%;
}

div.header-case-card figcaption {
  padding: .25rem .5rem .25rem .5rem;
  background-color: #e5e5e5;
  color: #525252;
  font-weight: 600;
  border-radius: 0.375rem;
  box-sizing: border-box;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.case-card-core p.year {
  color: #525252 ;
  font-weight: 500;
}

div.case-card-core h3 {
  margin-top: 1.25rem;
  font-size: 25px;
  font-weight: 600;
  width: 100%;
  line-height: 35px;
}

div.case-card-core p.case-content {
  color: #525252 ;
  font-weight: 300;
  line-height: 25px;
  font-size: 20px;
  margin-top: 1.25rem;
}

/* BOOKING SECTION  */

section.booking-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6rem 3rem;
}

div.booking-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  text-align: center;
}

div.booking-section-container h2 {
  font-size: 30px;
  width: 100%;
  color: #171717;
  font-weight: 700;
  margin-bottom: 2rem;
}

div.booking-section-container p {
  color: #525252;
  line-height: 30px;
  font-size: 17px;
}

#bottom-cta {
  padding: 15px 15px;
}

#bottom-cta a{
  font-size: 18px;
  font-weight: 600;
}

div.separator {
  background: linear-gradient(
  to right,
  transparent 0%,
  #e5e5e5 50%,
  transparent 100%);
  height: 2px;
  
}

/* BOTTOM NAV  */
div.bottom-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
  margin-top: 2rem;
}

div.bottom-nav ul li a {
  color: #262626;
  font-weight: 500;
  font-size: 15px;
  font-size: 18px;
  transition: all ease-in-out 200ms;
}

div.bottom-nav ul li a:hover {
  color: black
}

/* FOOTER  */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 1.5rem;
}

footer img {
  opacity: 0.25;
  height: 30px;
  border-radius: .375rem;
}

footer p {
  color: #525252;
  font-size: 14px;
}

}

@media (min-width: 640px) {
  .logos-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
  }
  .logo-card { height: 140px; }

  /* HEADER + NAV */

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

img#header-logo {
  height: 48px;
  border-radius: .375rem;
  margin-left: 3rem;
}

img#burger-menu-btn {
  height: 35px;
  margin-right: 3rem;
  cursor: pointer;
  border-radius: 7px;
}

img#burger-menu-btn:hover {
  background-color: rgba(128, 128, 128, 0.305);
}

nav ul {
  display: none;
}

#burger-menu-btn-open {
  height: 19px;
  margin-right: 3rem;
  border-radius: 7px;
  padding: 8px;
  cursor: pointer;
}

img#burger-menu-btn-open:hover {
  background-color: rgba(128, 128, 128, 0.305);
}

nav ul.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  background: white;
  padding: 20px 0 20px 0;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100px;
}

nav ul.active li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-left: solid 2px transparent;
}

nav ul.active li a{
    color: #525252;
    width: 100%;
}

nav ul.active li:hover {
  background-color: #FAFAFA;
  border-left: solid 2px rgb(161, 161, 161);
}

nav ul.active li a:hover {
  color: #171717;
}

/* HOME PAGE  */

h1 {
  color: #171717;
  font-weight: 1000;
}

h2 {
  color: #525252;
  font-weight: 500;
  width: 170%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 6rem;
}

div.main-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 6rem;
  gap: 2rem;
}

div.main-cta-btn {
  background-color: #ef4444;
  padding: 13px 15px;
  border-radius: .375rem;
  transition: all ease-in-out 200ms;
  margin: 50px 0;
}

div.main-cta-btn a {
  color: white;
  font-weight: 600;
}

div.main-cta-btn:hover {
  background-color: #ee2e2e;
  cursor: pointer;
}

/* LOGOS SECTION  */

.logos {
  padding: 32px 16px;
}


.logo-card {
  display: grid;
  place-items: center;         
  height: 120px;              
  background: transparent;     
  border-radius: 12px;         
}

.logo-card img {
  height: 4rem;
  max-width: 10rem;
}

/* INFOS SECTION  */

section.info-section {
  background-image: url("/background.avif");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  background-color: rgb(23 23 23);
  position: relative;
  padding-bottom: 3rem;
}

.purple-blur {
  position: absolute;
  width: 300px;
  height: 300px;
  filter: blur(100px);
  background: radial-gradient(circle,
    rgba(155,0,255,0.35) 0%,
    rgba(155,0,255,0.25) 30%,
    rgba(155,0,255,0.10) 55%,
    rgba(155,0,255,0.00) 75%
  );
  z-index: 0;
}

div.purple-blur.first{
  right: -150px;
  top: 300px;
}

div.purple-blur.second {
  top: 280px;
  left: -150px;
}

div.purple-blur.third {
  top: 0;
  right: -150px;
}

section.info-section h3 {
  color: white;
  font-size: 50px;
}

section.info-section h4 {
  color: #d4d4d4;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  width: 100%;
}

div.info-section-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
  width: 95%;
  margin-top: 100px;
  gap: 20px;
}

div.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 3rem 0 3rem 0;
}

div.card {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1.5rem;
  border-radius: .75rem;
  box-sizing: border-box;
  word-wrap: break-word;
  border: solid rgb(75, 75, 75) 0.2px;
}

div.card h4 {
  color: white;
  font-weight: 600;
  font-size: 17px;
  margin-left: -15px;
}

div.card p {
  color: #d4d4d4;
  margin-left: 10px;
}

/* COMMENT SECTION */

section.comment-section {
  height: 100%;
  margin: 1.25rem;
  width: 92%;
}

svg.star {
  height: 1.25rem;
  width: 1.25rem;
  fill: #dc2626;
}

div.star-container{
  display: flex;
  gap: 7px;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

div.comment p {
  font-weight: 600;
  font-size: 18px;
  color: #171717;
  line-height: 40px;
}

div.comment p.comment-author {
  font-size: 16px;
  font-weight: 500;
  margin-top: 2rem;
}

div.comment p.comment-author-job {
  font-size: 16px;
  font-weight: 400;
  color: #6b6b6b;
}

/* CASE STUDIES SECTION  */

section.case-studies-section {
  height: 100%;
  padding: 0 2rem;
  background-color: #f5f5f5;
}


section.case-studies-section h2 {
  color: #171717;
  font-weight: 800;
  font-size: 30px;
  margin: 3rem 0 2rem 0 ;

}

div.case-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #e5e5e5;
  border-radius: 1rem;
  padding: 1.25rem;
  box-sizing: border-box;
  background-color: #fafafa;
  transition: all ease-in-out 200ms;
}

div.case-card:hover {
  border: 2px solid #c5c5c5;
}

div.case-cards-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

div.header-case-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}


div.header-case-card img {
  height: 75px;
}

div.header-case-card img#taxi-verts {
  max-width: 100%;
}

div.header-case-card figcaption {
  padding: .25rem .5rem .25rem .5rem;
  background-color: #e5e5e5;
  color: #525252;
  font-weight: 600;
  border-radius: 0.375rem;
  box-sizing: border-box;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.case-card-core p.year {
  color: #525252 ;
  font-weight: 500;
}

div.case-card-core h3 {
  margin-top: 1.25rem;
  font-size: 25px;
  font-weight: 600;
  width: 100%;
  line-height: 35px;
}

div.case-card-core p.case-content {
  color: #525252 ;
  font-weight: 300;
  line-height: 25px;
  font-size: 18px;
  margin-top: 1.25rem;
}

/* BOOKING SECTION  */

section.booking-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6rem 3rem;
}

div.booking-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  text-align: center;
}

div.booking-section-container h2 {
  font-size: 30px;
  width: 100%;
  color: #171717;
  font-weight: 700;
  margin-bottom: 2rem;
}

div.booking-section-container p {
  color: #525252;
  line-height: 30px;
  font-size: 17px;
}

#bottom-cta {
  padding: 15px 15px;
}

#bottom-cta a{
  font-size: 18px;
  font-weight: 600;
}

div.separator {
  background: linear-gradient(
  to right,
  transparent 0%,
  #e5e5e5 50%,
  transparent 100%);
  height: 2px;
  
}

/* BOTTOM NAV  */
div.bottom-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
  margin-top: 2rem;
}

div.bottom-nav ul li a {
  color: #262626;
  font-weight: 500;
  font-size: 15px;
  font-size: 18px;
  transition: all ease-in-out 200ms;
}

div.bottom-nav ul li a:hover {
  color: black
}

/* FOOTER  */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 1.5rem;
}

footer img {
  opacity: 0.25;
  height: 30px;
  border-radius: .375rem;
}

footer p {
  color: #525252;
  font-size: 14px;
}
}

@media (min-width: 1024px) {
  section.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-card { height: 120px; }     
  .logo-card img { max-width: 70%; } 

  img#burger-menu-btn {
    display: none;
  }

  nav ul.menu1 {
    display: none;
  }

  nav ul.menu2 {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 3rem;
  }

  nav ul.menu2 li a {
    font-size: 17px;
    font-weight: 600;
    color: #262626;
  }

  #nav-cta-btn {
    margin: 0;
  }

  section.comment-section {
    box-sizing: border-box;
    width: 95%;
    max-width: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  section.comment-section p {
    font-size: 25px;
  }

  div.div-comment {
    max-width: 42rem;
  }

  div.case-cards-container {
    flex-direction: row;
    align-items: stretch;
  }

  section.case-studies-section {
    display: block;
    padding-bottom: 3rem;
  }

  div.case-card {
    display: flex;
    flex-direction: column;
    height: auto;
    flex: 1; 
    min-width: 300px; 
  }

  div.case-card:hover {
  border: 2px solid #c5c5c5;
}

  div.cards-container {
    flex-direction: row;
    margin: 5rem 3rem 5rem 3rem;
    align-items: flex-start;
  }

  div.case-card-core p.case-content {
    flex-grow: 1;
    margin-bottom: 0;
  }

  div.case-card-core {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }


  div.booking-section-container h2 {
    font-size: 40px;
  }

  div.booking-section-container {
    padding: 0 3rem 0 3rem;
  }

  div.bottom-nav ul {
    flex-direction: row;
  }

  div.purple-blur.first{
  right: -150px;
  top: 300px;
}

div.purple-blur.second {
  top: 280px;
  left: -150px;
}

div.purple-blur.third {
  top: 0;
  left: 200px;
}


h1 {
  font-size: 60px;
  font-weight: 800;
}

div.main-title-container h2 {
  font-weight: 400;
  font-size: 20px;
}


div.info-section-title-container {
  padding-left: 2rem;
}

section.info-section h3 {
  font-size: 70px;
  font-weight: 600;
}

div.comment {
  margin-bottom: 4rem;
}

div.booking-section-container p {
  width: 65%;
}
}

@media (min-width : 1024px) {
  div.card {
    height: 210px;
  }
}

@media (min-width : 1050px) {
  div.card {
    height: 200px;
  }

  @media (min-width : 1200px) {
  div.card {
    height: 190px;
  }
}
}

